:root {
  --bpm: 60;
  
  --peso-alto: 48px;
  --espaciado-divisiones:2.9vh;
  
  --times: calc(60 / var(--bpm) * 2s);
  --tick-tock-time: var(--times);
  
  /* TODO: Arreglar esto */
  --top: calc(var(--bpm) / 40 * 6 * var(--espaciado-divisiones) - 5.5 * var(--espaciado-divisiones));
  
  --palo-ancho: 10px;
}

body {
  overflow: hidden;
}

.metronomo {
  max-width: 300px;
  margin-top: 50%;
  margin: 17vh auto;
  position:relative;
}

.tempo {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #313131;
  font-family: monospace;
}

.mask {
  position:absolute;
  overflow:hidden;
  width: 200px;
  height: 355px;  
  padding-left: calc(50% - var(--palo-ancho) / 2);
  top: 12px;
}

.pendulo {  
  transform-origin: 50% 100%;
  position:absolute;
  left: calc(50% - var(--stick-width) / 2);
  top: 0px;
  height: 420px;
  background:#313131;
  width: var(--palo-ancho);
  border-radius: 8px;
  
  /*animation: tick var(--tick-tock-time) ease-in-out infinite;*/
	animation-name: tick;
	animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.peso {
  /* display: none; */
  position: absolute;
  width: 75px;
  /* border-radius: 8px; */
  /* border: 8px solid #313131; */
  left: -33px;
  transition: all 50ms;
}

.borde {
  fill: none;
  stroke:#313131;
  stroke-width:10;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit: 10;
}

.base-inferior {
  fill:#C73D42;
}

.base-superior {
  fill:#D1D1D1;
}

.marca { 
  fill: none;
  stroke:#313131;
  stroke-width: 4;
}

.controls {
  /* display: none; */
  opacity: 1;
  position: fixed;
  top: 4.8rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
}

.controls button {
  margin-bottom: .5rem;
}

.controls:hover {
  opacity: 1;
}

.button {
  border-radius: 0;
  border: 0;
  background-color: #313131;
  font-weight: bold;
  font-size: 1rem;
  padding: .8em;
  outline: 0;
  cursor: pointer;
  color: #D1D1D1;
}

.button:hover {
  background-color: #D1D1D1;
  color: #313131;
}

@keyframes tick {
  0%,
	100% { transform: rotate(15deg)}
	50% { transform: rotate(-15deg)}
}

.button {
  cursor: pointer;
  background-color: #d1d1d1;
  color: #312f31;
  border: .4em solid #312f31;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transform: translateY(0);
  /* box-shadow: 0 0.3em 0.5em 0 rgba(0,0,0,.1); */
}

.button:active {
  transform: scale(.95);
}

.button--control {
  display: flex;
  font-size: .8em;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.layout-buttons {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.button--selector {
  background-color: #666;
}

.button--control svg {
  width: 100%;
  height: 100%;
}

.button__icon-svg {
  stroke: #312f31;
  stroke-width: 5;
}