:root {
  --bpm: 60;
  
  --peso-alto: 48px;
  --espaciado-divisiones:2.9vh;
  
  --times: calc(60 / var(--bpm) * 2s);
  --tick-tock-time: var(--times);
  
  /* TODO: Arreglar esto */
  --top: calc(var(--bpm) / 40 * 6 * var(--espaciado-divisiones) - 5.5 * var(--espaciado-divisiones));
  
  --palo-ancho: 10px;
}

.metronomo {
  max-width: 300px;
  margin: 14vh auto;
  position:relative;
}

.tempo {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #313131;
  font-family: monospace;
}

.mask {
  position:absolute;
  overflow:hidden;
  width: 200px;
  height: 355px;  
  padding-left: calc(50% - var(--palo-ancho) / 2);
  top: 12px;
}

.pendulo {  
  transform-origin: 50% 100%;
  position:absolute;
  left: calc(50% - var(--stick-width) / 2);
  top: 0px;
  height: 420px;
  background:#313131;
  width: var(--palo-ancho);
  border-radius: 8px;
  
  /*animation: tick var(--tick-tock-time) ease-in-out infinite;*/
	animation-name: tick;
	animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.peso {
  /* display: none; */
  position: absolute;
  width: 75px;
  /* border-radius: 8px; */
  /* border: 8px solid #313131; */
  left: -33px;
}

.borde {
  fill: none;
  stroke:#313131;
  stroke-width:10;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit: 10;
}

.base-inferior {
  fill:#C73D42;
}

.base-superior {
  fill:#D1D1D1;
}

.marca { 
  fill: none;
  stroke:#313131;
  stroke-width: 4;
}

.controls {
  /* display: none; */
  opacity: .1;
  position: fixed;
  bottom: 0;
  left: 0%;
  /* border-top-left-radius: 10px; */
  border-top-right-radius: 10px;
  overflow: hidden;
  /* transform: translateX(-50%); */
  transition: all 500ms ease-in-out;
}

.controls:hover {
  opacity: 1;
}

.button {
  border-radius: 0;
  border: 0;
  background-color: #313131;
  font-weight: bold;
  font-size: 1rem;
  padding: .8em;
  outline: 0;
  cursor: pointer;
  color: #D1D1D1;
}

.button:hover {
  background-color: #D1D1D1;
  color: #313131;
}

@keyframes tick {
  0%,
	100% { transform: rotate(15deg)}
	50% { transform: rotate(-15deg)}
}